@import '../../Styles/variables';

.cardWrapper {
    .cardWrapp {
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 15px;
        width: 430px;
        padding: 20px 25px;
        // border:  1.5px solid $primary;
        

        h2 {
            color: $primary;
            font-size: 24px;
            font-weight: 600;
        }

        p {
            color: $textColor;
            font-size: 15px;
            font-weight: 400;
        }
    }
}