@import '../../Styles/variables';

.aboutWrapper {
    .aboutWrapp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 100px 0px 70px 0;
        gap: 100px;
     

        @media screen and (max-width:768px) {
            flex-direction: column-reverse;
            gap: 50px;
            padding-top: 100px;
        }

        @media screen and (min-width:769px) and (max-width:992px) {
            flex-direction: column-reverse;
            gap: 50px;
        }




    

    .imgWrapp {
        display: block;
        width: 50%;

        @media screen and (max-width:768px) {
            width: 100%;
        }

        @media screen and (min-width:769px) and (max-width:992px) {
            width: 100%;
        }

        svg {
            width: 100%;
        }
    }

    .textWrapp {
        width: 70%;

        @media screen and (max-width:768px) {
            width: 100%;
        }

        @media screen and (min-width:769px) and (max-width:992px) {
            width: 100%;
        }

        h1 {
            color: $primary;
            font-size: 48px;
            margin-bottom: 10px;

            @media screen and (max-width:768px) {
                font-size: 30px;
            }

        }

        p {
            color: $textColor;
            font-size: 16px;
            width: 97%;


            @media screen and (max-width:768px) {
                width: 100%;
                font-size: 15px;
                text-align: justify;
            }

            @media screen and (min-width:769px) and (max-width:992px) {
                width: 100%;
            }
        }
    }
}
}