@import '../../Styles/variables';
@import '../../Styles/common';

.homeWrapper {
    .homeWrapp{  
    display: flex;
   height: 90vh;
   position: relative;
   width: 100%;
//    overflow: hidden;
   padding-left: 5%;
  
 
    @media screen and (max-width:768px) {
        flex-direction: column;

        
    }

  
    .textWrapp {
        padding: 70px 0 ;
        @media screen and (max-width:768px) {
            padding: 40px 0;
        }
        h1 {
            font-weight: bold;
            font-size: 48px;
            color: $primary;
            margin-bottom: 10px;
            width: 43%;
          
            @media screen and (max-width:768px) {
               width: 100%;
               font-size: 32px;
            }
        }

        p {
            color: $textColor;
            font-size: 24px;
            margin-bottom: 50px;
            width: 45%;
            @media screen and (max-width:768px) {
                width: 100%;
                font-size: 18px;
             }
        }
    }
    .imgWrapp {
    
        position: absolute;
        right: 0px;
        height: 100%;
        // width: 100%;
        // height: 620px;
        @media screen and (max-width:768px) {
            height: 100%;
            position: relative;
        }
        img {        
            height: 100%;
            width: 100%;
            display: block;
            // object-fit: cover;
        //    object-position: center;
           
             @media screen and (max-width:768px) {
                width: 100%;
            }
        }
    }
    

}
}

