@import '../../Styles/common';
@import '../../Styles/variables';

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: relative;
  z-index: 999;
  padding: 15px 5%;

  position: sticky;
  z-index: 100; 
  top: 0;

  @media screen and (max-width:992px) {
    padding:30px 0px 20px 0px;
    align-items: start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logo-menu {
    @media screen and (max-width:992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }

    .logo {
      cursor: pointer;

      svg {
        display: block;
      }
    }

    .menu,
    .change {
      cursor: pointer;
      display: none;

       @media screen and (max-width:992px) {
        display: inline-block;
      }

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: $black;
        margin: 6px 0;
        transition: 0.4s;
      }
    }

    .change {
      .bar1 {
        transform: translate(0, 11px) rotate(225deg);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: translate(0, -11px) rotate(-225deg);
      }
    }
  }

  .list-button {
    display: flex;
    align-items: center;
    gap: 20px;
    // width: 42%;
    justify-content: end;

     @media screen and (max-width:992px) {
      transform: translateY(-1000px);
      position: absolute;
      flex-direction: column;
    }

    .nav-group {

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 40px;
        @media screen and (max-width:992px) {
          gap: 0;
        }
      
       
a{

text-decoration: none;
        li {
          list-style: none;
          font-size: 16px;
          font-weight: 400;
          color: $textColor;
          cursor: pointer;
          text-decoration: none;
         

         

          span {
            font-weight: 700;
            //   color: $secondaryColor;
          }
        }
        .active{
          color: $primary;
          font-weight: 600;
        }
      }
      }
    }

    .button {
      // width: 28%;

    }
    .invisible{
      display: none;
    }

 
  }

  .open {
    display: block;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // gap: 35px;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    background-color: rgba(242, 250, 249, 1);
    // padding: $spacing-md;
    // box-shadow: $shadow;
    // border-radius: $radius;
    transform: translateY(-0px);
    transition: transform 300ms ease-in-out;
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
   
      padding: 30px 5%;
      // width: 50%;
a{
  text-decoration: none;
 
      li {
        list-style: none;
        color: $primary;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;

        span {
          font-weight: 700;
          //   color: $tertiaryColor;
        }
      }
    }
  }

    .button {
      width: 70%;
    }
  }
}